doctype html
html
  head
    meta(charset='utf-8')
    link(type='text/css' rel='stylesheet' href='./css/modal.css')
  body
    div(id='modal' class='modal-body')
      div 아이디가 중복됩니다.
      button(id='button') 닫기
    script.
      const $modal = document.getElementById('modal');
      const $button = document.getElementById('button');

      $button.addEventListener('click', () => {
        $modal.style.visibility = 'hidden';
      });
