div(class='footer')
  ul(class='footer_title') 소개
    li(class='footer_element') 에어비앤비 이용 방법
    li(class='footer_element') 뉴스룸
    li(class='footer_element') 에어비앤비 플러스
    li(class='footer_element') 에어비앤비 Luxe
    li(class='footer_element') 호텔투나잇
    li(class='footer_element') 에어비앤비 비즈니스 프로그램
    li(class='footer_element') 올림픽
    li(class='footer_element') 채용정보
  ul(class='footer_title') 커뮤니티
    li(class='footer_element') 다양성 및 소속감
    li(class='footer_element') 접근성
    li(class='footer_element') 에어비앤비 어소시에이트
    li(class='footer_element') 구호 인력을 위한 숙소
    li(class='footer_element') 친구 초대하기
  ul(class='footer_title') 호스팅하기
    li(class='footer_element') 숙소 호스팅하기
    li(class='footer_element') 온라인 체험 호스팅하기
    li(class='footer_element') 체험 호스팅하기
    li(class='footer_element') 브라이언 CEO의 메시지
    li(class='footer_element') 책임감 있는 호스팅
    li(class='footer_element') 오픈 홈즈
    li(class='footer_element') 자료 센터
    li(class='footer_element') 커뮤니티 센터
  ul(class='footer_title') 에어비앤비 지원
    li(class='footer_element') 도움말 센터
    li(class='footer_element') 예약 취소 옵션
    li(class='footer_element') 에어비앤비 이웃 민원 지원
    li(class='footer_element') 신뢰와 안전
div(class='footer') © 2020 Airbnb, Inc. All rights reserved · 개인정보 처리방침 · 이용약관 · 사이트맵 · 한국의 변경된 환불 정책