doctype html
html
  head
    meta(charset='utf-8')
  body
    div BoostCamp Airbnb! #{name}
    if loggedIn
      button(onclick='goToLoginPage()') 로그아웃  
    else
      button(onclick='goToLoginPage()') 로그인
    button(onclick='goToSignupPage()') 회원가입
    script.
      const goToSignupPage = () => {
        window.location.href = '/signup';
      }
      const goToLoginPage = () => {
        window.location.href = '/login';
      }
