doctype html
head
  meta(charset=UTF-8)
  link(href='./css/index.css' type='text/css' rel='stylesheet')
  link(href='./css/modal.css' type='text/css' rel='stylesheet')
body
  include ./login.pug
  include ./signup.pug
  header(class='header')
    img(class='logo' src='./img/logo.png')
    if loggedIn
      div Hello, #{name}!
    div(class='myButton' id='userButton')
      button user information
      div(class='userButtonOn' id='userButtonOn')
        button(class='loginButton' id='loginButton') 로그인
        button(class='logoutButton' id='logoutButton') 로그아웃
        button(id='signupButton') 회원가입
  nav
    ul(class='category')
      li(class='categoryItem') 숙소
      li(class='categoryItem') 장기숙박
      li(class='categoryItem') 체험
      li(class='categoryItem') 온라인 체험
  section(class='reservation')
    div(class='reservationItem')
      div 위치
      input(type='text')
    div(class='reservationItem')
      div 체크인
      input(type='date')
    div(class='reservationItem')
      div 체크아웃
      input(type='date')
    div(class='reservationItem')
      div 인원
      input(type='number' step='1' min='1' max='6' value='1')    
    button(id='searchButton') 검색
  
  script(type='module' src='./js/index.js')
  if popup
    script.
      alert(!{JSON.stringify(popup)});
  if redirect
    script.
      window.location.href = !{JSON.stringify(redirect)};
  if loginModal
    script.
      const $loginModal = document.getElementById('loginModal');
      $loginModal.style.display = 'block';
  if signupModal
    script.
      const $signupModal = document.getElementById('signupModal');
      $signupModal.style.display = 'block';
  if loggedIn
    script.
      $loginButton = document.getElementById('loginButton');
      $logoutButton = document.getElementById('logoutButton');
      $loginButton.style.display = 'none';
      $logoutButton.style.display = 'block';
  if !loggedIn
    script.
      $loginButton = document.getElementById('loginButton');
      $logoutButton = document.getElementById('logoutButton');
      $loginButton.style.display = 'block';
      $logoutButton.style.display = 'none';