doctype html
head
  meta(charset=UTF-8)
  link(href='./css/reset.css' type='text/css' rel='stylesheet')
  link(href='./css/util.css' type='text/css' rel='stylesheet')
  link(href='./css/reservation.css' type='text/css' rel='stylesheet')
  link(href='./css/header.css' type='text/css' rel='stylesheet')
  link(href='./css/kinds.css' type='text/css' rel='stylesheet')
  link(href='./css/sign.css' type='text/css' rel='stylesheet')
  link(href='./css/dark.css' type='text/css' rel='stylesheet')
  link(href='./css/recommander.css' type='text/css' rel='stylesheet')
  link(href='./css/calendar.css' type='text/css' rel='stylesheet')
  link(href='./css/main.css' type='text/css' rel='stylesheet')
  link(href='./css/footer.css' type='text/css' rel='stylesheet')
  script(src="https://kit.fontawesome.com/a1e8a2cbbc.js" crossorigin="anonymous")
body
  include ./util/dark.pug
  include ./modal/login.pug
  include ./modal/signup.pug

  div(class='main')
    include ./util/header.pug
    include ./main/reservationActivity.pug
    include ./main/reservationLocation.pug
    include ./modal/calendar.pug
    include ./main/statement.pug
  include ./main/kinds.pug
  include ./main/recommander.pug
  include ./util/footer.pug

  script(type='module' src='./js/reservation.js')
  script(type='module' src='./js/sign.js')
  script(type='module' src='./js/calendar.js')
  include ./main/condition.pug
