doctype html
html
  head
    meta(charset='utf-8')
    link(type='text/css' rel='stylesheet' href='./css/sign.css')
  body
    div(class='modal-body' id='loginModal')
      div(class='sign-title') 로그인
      form(action='/login', method='post')
        div
          input(class='sign-input' name='id' id="idInput" type='text' placeholder="이메일 주소")
          input(class='sign-input' name='pw' id="pwInput" type='password' placeholder="비밀번호")
        input(class='sign-completeButton' id="login" type='submit' value='로그인') 
    script(type='module' src='./js/sign.js')
