doctype html
html
  head
    meta(charset='utf-8')
    link(type='text/css' rel='stylesheet' href='./css/sign.css')
  body
    div(class='modalBody')
      h1 회원가입
      form(action='/signup', method='post')
        div
          div(class='sign-elementTitle') 아이디
          input(class='sign-input' name='id' id="id-input" type='text' placeholder="아이디를 입력 해주세요")
        div
          div(class='sign-elementTitle') 비밀번호
          input(class='sign-input' name='pw' id="pw-input1" type='password' placeholder="비밀번호를 입력 해주세요.")
          br
          input(class='sign-input' name='pwCheck' id="pw-input2" type='password' placeholder="비밀번호를 다시 입력 해주세요.")
        div
          div(class='sign-elementTitle') 이름
          input(class='sign-input' name='name' id="name-input" type="text" placeholder="이름을 입력해주세요.")
        input(class='sign-completeButton' id="next-button" type='submit' value='완료')
