.header {
  display: flex;
  padding: 30px 60px;
}

.logo {
  width: 50px;
  margin-right: 750px;
}

.myButton {
  margin-left: 730px;
  border-radius: 35px;
  height: 35px;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0px 1px 3px 1px;
  position: relative;
}

.category {
  display: flex;
  padding: 20px 60px;
}

.categoryItem {
  list-style: none;
  margin: 0 20px;
  background: white;
  font-size: 20px;
  padding: 15px 0;
}

.category-location {
  border-bottom: 3px solid black;
}

.categoryItem:hover {
  cursor: pointer;
  font-weight: bold;
}

.reservation-location {
  display: flex;
  padding: 10px 50px
}

.reservation-activity {
  display: none;
  padding: 10px 50px
}

.reservationItem {
  position: relative;
  padding: 13px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 0px;
}

.reservation-text {
  font-weight: bold;
}

.reservation-input {
  border: none;
  height: 40px;
  width: 270px;
}

.reservation-input-location {
  border: none;
  height: 40px;
  width: 450px;
}

.reservation-input-count {
  border: none;
  height: 40px;
  width: 100px;
}

.location {
  width: 500px;
  margin-left: 25px;
}

.check-in, .check-out {
  width: 300px;
}

.user-count, .activity {
  width: 500px;
}

.search-button {
  width: 120px;
  position: absolute;
  left: 366px;
  bottom: 13px;
  height: 65px;
  background: #e70909;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
}

.loginButton {
  display: block;
}

.logoutButton {
  display: none;
}

.userInfo {
  width: 34px;
  border: 1px solid;
  border-radius: 30px;
  margin-right: 5px;
}

.burger {
  width: 22px;
  margin: 0 8px 8px 12px;
}

.userButtonOn {
  display: none;
  position: absolute;
  margin-top: 20px;
  width: 250px;
  box-shadow: 0px 1px 3px 1px;
  box-sizing: border-box;
  border-radius: 15px;
  right: 0px;
  padding: 25px 0;
}

.userButton {
  font-size: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 248px;
  text-align: left;
  padding: 10px 30px;
}

.userButton:hover {
  background-color: #fbf1f1;
  border: none
}

.statement {
  font-size: 48px;
  margin: 70px;
  width: 700px;
  color: #b33535;
}

.kinds {
  display: flex;
  margin-left: 70px;
  margin-bottom: 50px;
}

.kind-img {
  width: 520px;
  border-radius: 25px 25px 0 0;
}

.kind {
  margin: 8px;
  box-shadow: 0px 0px 20px 0px;
  border-radius: 25px;
  cursor: pointer;
}

.kind-title {
  font-weight: bold;
  margin-left: 25px;
  font-size: 24px;
}

.kind-text {
  margin-left: 25px;
  margin-bottom: 25px;
}
