.recommander-layout-big, .recommander-layout-small {
  display: flex;
}

.recommander-layout-big {
  margin-top: 30px;
}

.recommander-body {
  position: relative;
  background-color: black;
  color: white;
  padding: 85px;
}

.recommander-header {
  display: flex;
  justify-content: space-between;
}

.recommander-title {
  margin-left: 12px;
  font-size: 45px;
  font-weight: bold;
}

.recommander-subtitle {
  margin-left: 12px;
  font-size: 20px;
}

.recommander-all-button {
  margin-right: 15px;
  padding: 10px 25px;
  height: 50px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.recommander-leftBig,
.recommander-rightSmall1,
.recommander-rightSmall2 {
  border-radius: 30px;
  background-color: #282727;
  margin: 10px;
  cursor: pointer;
  width: 50%;
}

.recommander-rightBottom {
  border-radius: 30px;
  background-color: #282727;
  margin: 10px;
  cursor: pointer;
  width: 98%;
}

.recommander-leftBig-img,
.recommander-rigthSmall1-img,
.recommander-rigthSmall2-img,
.recommander-rightBottom-img {
  border-radius: 30px 30px 0 0;
}

.recommander-leftBig-text,
.recommander-rigthSmall1-text,
.recommander-rigthSmall2-text {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-bottom: 25px;
}

.recommander-rightBottom-text {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 5px;
}

.recommander-leftBig-img {
  width: 100%;
  height: 92%;
}

.recommander-rigthSmall1-img, .recommander-rigthSmall2-img {
  width: 100%;
}

.recommander-rightBottom-img {
  width: 100%;
}
