.category {
  display: flex;
  padding: 20px 60px;
}

.category-active {
  border-bottom: 3px solid black;
}

.categoryItem {
  font-size: 20px;
  margin: 0 20px;
  padding: 15px 0;
  list-style: none;
}

.categoryItem:hover {
  cursor: pointer;
  font-weight: bold;
}

.reservation-location {
  display: flex;
  justify-content: center;
}

.reservation-activity {
  display: none;
  justify-content: center;
}

.reservationItem {
  position: relative;
  padding: 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.reservation-text {
  font-weight: bold;
  margin-left: 10px;
}

.reservation-input {
  width: 270px;
  height: 40px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.reservation-input-location {
  width: 80%;
  height: 40px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.reservation-input-count {
  height: 40px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.location {
  width: 20%;
  margin-left: 25px;
  padding-left: 40px;
  border-radius: 43px 0 0 48px;
  background-color: white;
  border-right: 1px solid #dddddd;
}

.check-in, .check-out {
  width: 10%;
  background-color: white;
  border-right: 1px solid #dddddd;
}

.user-count, .activity {
  width: 15%;
  border-radius: 0 43px 48px 0;
  background-color: white;
}

.search-button {
  width: 65px;
  height: 65px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: #FF385C;
  border: none;
  border-radius: 40px;
}

.user-count-layout {
  display: flex;
  justify-content: space-between;
}