.modal-body {
  display: none;
  position: fixed;
  width: 600px;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 12px;
  background: white;
  z-index: 2;
}

.modal-close {
  font-size: 20px;
  margin: 0px 0px 0 0;
  border: none;
  background: white;
  cursor: pointer;
}

.modal-close:hover {
  background: #f0f0f0;
}

.sign-header {
  padding: 20px 28px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #dfdcdc;
}

.sign-title {
  margin-left: 210px;
}

.sign-input {
  display: block;
  width: 540px;
  height: 49px;
  margin: 20px 0 0 30px;
  padding-left: 17px;
  font-size: 19px;
  box-sizing: border-box;
  border: 1px solid #cec9c9;
}

.sign-completeButton {
  margin: 30px;
  width: 540px;
  height: 50px;
  border: none;
  background: #ff7171;
  border-radius: 9px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.sign-birth {
  margin: 20px 0 0 30px;
  font-weight: bold;
  font-size: 20px;
}

.sign-birth-month {
  width: 230px;
  height: 40px;
  margin: 10px 10px 10px 0;
  font-size: 18px;
}

.sign-birth-day {
  width: 100px;
  height: 40px;
  margin: 10px 10px 10px 0;
  font-size: 18px;
}

.sign-birth-year {
  width: 190px;
  height: 40px;
  margin: 10px 10px 10px 0;
  font-size: 18px;
}

.sign-text {
  margin-right: 30px;
  font-size: 16px;
  font-weight: normal;
}
