if popup
  script.
    alert(!{JSON.stringify(popup)});
if redirect
  script.
    window.location.href = !{JSON.stringify(redirect)};
if loginModal
  script.
    const $loginModal = document.getElementById('loginModal');
    $loginModal.style.display = 'block';
if signupModal
  script.
    const $signupModal = document.getElementById('signupModal');
    $signupModal.style.display = 'block';
if loggedIn
  script.
    $loginButton = document.getElementById('loginButton');
    $logoutButton = document.getElementById('logoutButton');
    $loginButton.style.display = 'none';
    $logoutButton.style.display = 'block';
if !loggedIn
  script.
    $loginButton = document.getElementById('loginButton');
    $logoutButton = document.getElementById('logoutButton');
    $loginButton.style.display = 'block';
    $logoutButton.style.display = 'none';