nav
  ul(class='category')
    li(class='categoryItem category-active' id='category-location') 숙소
    li(class='categoryItem category-activity' id='category-activity') 체험
    li(class='categoryItem category-online' id='category-online') 온라인 체험
