section(class='recommander-body')
  header
    div(class='recommander-header')
      div
        div(class='recommander-title') 브로드웨이 온라인 체험
        div(class='recommander-subtitle') 슬기로운 집콕 생활을 위한 색다른 방법 - 실시간으로 진행되는
        div(class='recommander-subtitle') 인터랙티브 브로드웨이 공연에 참여하고 출연진과 대화를 나눠보세요.
      button(class='recommander-all-button') 모두 둘러보기
    div(class='recommander-layout-big')
      div(class='recommander-leftBig')
        img(class='recommander-leftBig-img' src='./img/leftBig.webp')
        div(class='recommander-leftBig-text') 라스베이거스 댄서의 하루
      div
        div(class='recommander-layout-small')
          div(class='recommander-rightSmall1')
            img(class='recommander-rigthSmall1-img' src='./img/rightSmall1.webp')
            div(class='recommander-rigthSmall1-text') 아이샤와 함께하는 치유의 저녁
          div(class='recommander-rightSmall2')
            img(class='recommander-rigthSmall2-img' src='./img/rightSmall2.webp')
            div(class='recommander-rigthSmall1-text') 마술과 독심술을 즐기는 밤
        div(class='recommander-rightBottom')
          img(class='recommander-rightBottom-img' src='./img/rightBottom.webp')
          div(class='recommander-rightBottom-text') 라이브 뮤지컬 참여하기