section(class='reservation-activity' id='reservation-activity')
  div(class='reservationItem location')
    div(class='reservation-text') 위치
    input(class='reservation-input-location' type='text')
  div(class='reservationItem activity')
    div(class='user-count-layout')
      div
        div(class='reservation-text') 날짜
      button(class='search-button' id='searchButton')
        i(class="fas fa-search")
