section(class='reservation-location' id='reservation-location')
  div(class='reservationItem location')
    div(class='reservation-text') 위치
    input(class='reservation-input-location' type='text')
  div(class='reservationItem check-in' id='reservation_date')
    div(class='reservation-text') 체크인
  div(class='reservationItem check-out')
    div(class='reservation-text') 체크아웃
  div(class='reservationItem user-count')
    div(class='reservation-text') 인원
    input(class='reservation-input-count' type='number' step='1' min='1' max='6')
    button(class='search-button' id='searchButton')
      i(class="fas fa-search")
