section(class='statement')
  div(class='statement-title') 이제, 여행은
  div(class='statement-title') 가까운 곳에서.
  div(class='statement-text') 가까운 곳의 숨겨진 아름다움을 발견하는 색다른 휴가를 즐겨보세요.
  button(class='statement-button') 가까운 여행지 둘러보기
